<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthenticate" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:47852/LDAPAuth.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAuthenticate" contract="LDAPAuth.IAuthenticate"
                name="BasicHttpBinding_IAuthenticate" />
        </client>
    </system.serviceModel>
</configuration>
